html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

#container{
	min-height: 100%;
	margin: 0 auto;
	position:relative;
	background-color: #E6E6E6;
}

#main{
	padding: 1%;
  	padding-bottom:60px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background: #596a72;
   border-top: 3px solid #1CAFFF;
   padding: 10px;
   color: white;
   text-align: center;
}

/* modal window */

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content {
	display: none;
	position: absolute;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 65%;
	padding: 16px;
	border: 4px solid #1CAFFF;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.centered-box{
    margin: 0 auto;
    width: 70%;
}

.pencil{
	float: right;
	margin-top: 2px;
	margin-left: 25px;
	margin-right: 25px;
}

@media only screen (max-width:500px){
	.centered-box{
    	width: 100%;
	}	
}

/* ---------------------- bootstrap overrides ------------------------ */
.dropdown-menu > li > a:hover{
	background-color: #1CAFFF;
	color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: white;
}

.dropdown-menu{
	background-color: #596a72;
	border-left: 2px solid #1CAFFF;
	border-right: 2px solid #1CAFFF;
	border-bottom: 2px solid #1CAFFF;
}

.navbar{
	border-radius: 0px; /* no round corners */
	margin: 0;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
	background-color: #1CAFFF;
	color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #1CAFFF;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	background-color: #1CAFFF;
}

.navbar-default {
    background-color: #596a72;
    border: none;
    border-bottom: 3px solid #1CAFFF;
}

.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
}

.form-group{
	margin-bottom: 5px;
}

.btn-secondary{
	background-color: #CDCDCD;
}
.btn-secondary:hover{
	background-color: #9C9C9C;
}

.panel{
	width: 60%;
	margin: 0 auto;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
